# Locust Load Generator Configurations
SCENARIO=burst
DEFAULT_USERS=1
SPAWN_RATE=1

# Targets (Docker Compose Controlled Environment)
HELIUM_HOST=http://127.0.0.10:8000

# Checklist of Enabled Verdicts (Comma-separated: AC,WA,TLE,CE)
ENABLED_VERDICTS=AC,WA,TLE,CE

# Telemetry Sampling Interval (Seconds)
SAR_INTERVAL=1
