# Locust Load Generator Configurations
TARGET_SYSTEM=boca
SCENARIO=burst
DEFAULT_USERS=1
SPAWN_RATE=1

# Targets
BOCA_HOST=http://192.168.56.11:8000
HELIUM_HOST=http://192.168.56.10:8000

# Checklist of Enabled Verdicts (Comma-separated: AC,WA,TLE,CE)
ENABLED_VERDICTS=AC,WA,TLE,CE

# Telemetry Sampling Interval (Seconds)
SAR_INTERVAL=1
